
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
}

#filler {
    /* width: 100%; */
    /* width: fill; */
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 24px 18px;
    text-decoration: none;
    color: white;
}

nav a, nav li {
    transition: 0.2s;
}

.link-current a {
    /* background: #FFF; */
}
